body {
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5;
    color: #212529;
    background: linear-gradient(#C86090, #CA3E66, #C21835);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 100%;
    text-align: center;
}

.photo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 150%;
    padding: 6px 10px;
}

h2 {
    font-size: 200%;
    padding: 6px 10px;
}

h3 {
    padding: 6px 10px;
}

.text1 {
    text-align: center;
    font-size: 50px;
    font-family: roboto;
}

.student {
    text-align: center;
}

.shapka {
    text-align: center;
}

.ryad {
    float: left;
    margin: 0 15px 25px 0;
    width: 550px; 
    height: 300px; 
    background:#f1f1f1;
    padding: 20px;
    text-align: center;
    border-radius: 24px;
}

.ryad1 {
    margin: 0 15px 15px 0;
    width: 550px; 
    height: 300px; 
    background:#f1f1f1;
    padding: 10px;
}

.ogonafig {
    width: 100%;
    height: 1px;
    clear: both;
}

.footer {
    padding: 2em;
    background:linear-gradient(#f1f1f1, #CA3E66);
    text-align: center;
    position: top;
    left: 0;
    bottom: 0;
    width: 96.1%;
    height: 80px;
}

.rightdown {
    float: right
}

.hexlet {
    text-align: center;
    font-size: 100px;
    color: blue;
}

.colortext {
    color:aliceblue;
}

pre {
    font-family: Roboto;
    line-height: 1.7;
    margin: 0 auto;
    width: 1525px; 
    height: 525px; 
    background:black;
    padding: 20px;
    text-align: center;
    border-radius: 24px;
}
